name: .NET

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Publish
      run: dotnet publish --no-build --configuration Release --output ./publish
    - name: Archive Release
      shell: pwsh
      run: Compress-Archive -Path ./publish/* -DestinationPath TubePulse-${{ matrix.os }}.zip
    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: TubePulse-${{ matrix.os }}.zip
