name: .NET

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Get version from tag
      id: version
      shell: bash
      run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:Version=${{ steps.version.outputs.VERSION }}
    - name: Publish
      run: dotnet publish --no-build --configuration Release --output ./publish
    - name: Archive Release
      shell: pwsh
      run: Compress-Archive -Path ./publish/* -DestinationPath TubePulse-${{ matrix.os }}.zip
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TubePulse-${{ matrix.os }}
        path: TubePulse-${{ matrix.os }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Build Artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts
        pattern: TubePulse-*
        merge-multiple: true
    - name: Display structure of downloaded files
      run: ls -R artifacts
    - name: Upload Release Assets
      uses: softprops/action-gh-release@v1
      with:
        files: artifacts/*.zip
